# eclipse project files
.cproject
.project
.pydevproject
.settings

# scons files
.sconsign.dblite

# daemon-example
daemon-example/daemon-example
daemon-example/syslog_example

# configure-make-example
helloworld
helloworld*.tar.gz
aclocal.m4
*.cache
compile
depcomp
missing
config.*
configure
install-sh
configure-make-example/Makefile
Makefile.am
.deps/

# makefile-example
hello

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
